{% extends "layout.njk" %}

    {% block head %}
            <title>Sobre</title>
        {% endblock %}

    {%block content %}
        <main>  

            <section id="cabecalho">
                <h1>Rocketseat</h1>
                <img src="https://avatars1.githubusercontent.com/u/28929274?s=280&v=4" alt="imagem da logo da empresa">
                
            </section>

            <section>
                
                <p>Mais do que uma plataforma de educação em tecnologia, 
                    somos uma comunidade incrível de programadores em busca do próximo nível</p><br>
                <p>Em um mundo onde a informação fica obsoleta cada vez mais rápido, velocidade de aprendizado é a chave para o sucesso.</p><br>
                <p>Por isso a Rocketseat oferece através de uma plataforma inteligente e metodologia prática, além de comunidade, eventos, 
                    conteúdo e conexão com o mercado de trabalho, todas as ferramentas que você precisa para masterizar no menor tempo possível 
                    as tecnologias mais modernas de desenvolvimento web e mobile, e dessa forma avançar para o próximo nível como programador.</p><br>
                
            </section>
            
            <section id="tecnologias">
                <h2>Principais Tecnologias</h2>

                <div>
                    <ul>
                        <li>
                            <h4>React</h4>
                            <img src="https://rocketseat.com.br/static/images/update/curso-reactjs.svg">
                        </li>
                        <li>
                            <h4>React Native</h4>
                            <img src="https://rocketseat.com.br/static/images/update/curso-react-native.svg">
                        </li>
                        <li>
                            <h4>Nodejs</h4>
                            <img src="https://rocketseat.com.br/static/images/update/curso-nodejs.svg">
                        </li>
                    </ul>
                </div>
        
            </section>
            
        </main>
    {% endblock %}