<html>
    <head>
        {% block head %}
            <title>Cursos</title>
        {% endblock %}
            <link rel="stylesheet" href="/style.css">
            <link rel="icon" href="https://raw.githubusercontent.com/Rocketseat/bootcamp-launchbase-desafios-02/master/desafios/favicon.ico" type="image/x-icon" />
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
        
    </head>
    <body>
        <header>
            <a href="https://discordapp.com/invite/gCRAFhc">Comunidade</a>
            <a href="mailto:oi@rocketseat.com.br">Email</a>
            <a href="tel:+5547992078767">Telefone</a>
            <a href="/about">Sobre</a>
            <a href="/">Conteúdo</a>
        </header>

        {% block content %}
        
        
        {% endblock %}
        
        <footer>
            <div>
                <a href="https://www.facebook.com/rocketseat"><img src="https://image.flaticon.com/icons/svg/2111/2111392.svg" alt="facebook"></a>
                <a href="https://www.instagram.com/rocketseat_oficial/"><img src="https://image.flaticon.com/icons/svg/1384/1384031.svg" alt="instagram"></a>
                <a href="https://www.github.com/Rocketseat"><img src="https://image.flaticon.com/icons/svg/25/25231.svg" alt="github"></a>
            </div>
        </footer>
        <script src="scripts.js"></script>
    </body>
</html>